.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

input {
  width: 80%;
  height: 40px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

.os {
  width: 20%;
  height: 40px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

.App .content p {
  font-size: 17px;
  color: #737380;
  line-height: 32px;
}

.App h6 {
  font-size: 12px;
  color: #737380;
  line-height: 0px;
}

.App h1 {
  font-size: 26px;
  color: #737380;
  line-height: 30px;
}
.App.content .input-group {
  display: flex;
}
textarea {
  width: 80%;
  resize: vertical;
  min-height: 140px;
  color: #333;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.button {
  width: 83%;
  height: 60%;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
  cursor: pointer;
}

.button:hover {
  filter: brightness(90%);
}
.App .content input,
.App .content textarea {
  margin-top: 8px;
}

.App .content .input-group {
  display: inline;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
